# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment
.env
.env.local
.env.production

# Uploads
uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/

# Build
*.tsbuildinfo
next-env.d.ts
